# PostgreSQL Client Authentication Configuration File
# ===================================================

host    replication     postgres       10.4.1.0/32            md5
hostnossl    replication             postgres       10.4.1.162/32            md5
hostnossl    replication             postgres       10.4.1.108/32            md5
host    all             postgres       10.4.1.0/32            md5
host    all              rep       10.4.1.0/32            md5