# PostgreSQL Client Authentication Configuration File
# ===================================================

host    replication     postgres       192.168.255.0/24      md5
host    all             postgres       192.168.255.0/24      md5