# PostgreSQL Client Authentication Configuration File
# ===================================================
host    test     rep       192.168.255.3/32      trust
host    test     rep       192.168.255.2/32      trust
host    all      postgres       127.0.0.1/32     trust