# -----------------------------
# PostgreSQL configuration file from defaults/main
# -----------------------------
#
listen_addresses = '*'
max_connections = 100
shared_buffers = 1GB
effective_cache_size = 1GB
archive_command = 'cd .'
max_wal_senders = 20
hot_standby = on
wal_keep_segments = 20
max_wal_size = 1GB
wal_level = 'hot_standby'