net.ipv4.tcp_syncookies = 1
net.ipv4.conf.all.log_martians = 1
vm.swappiness = {{ swapiness }}
vm.vfs_cache_pressure = 50
net.core.somaxconn = {{ somaxconn }}
net.ipv4.tcp_max_syn_backlog = {{ synbacklog }}
net.core.netdev_max_backlog = {{ maxbacklog }}
fs.file-max = "{{ filemax }}"
net.ipv4.ip_local_port_range = 10000 65000
net.ipv4.conf.all.send_redirects = 0
net.ipv4.conf.all.accept_redirects = 0
net.ipv4.conf.all.accept_source_route = 0
net.ipv4.ip_forward = "{{ ipforwarding }}"
net.ipv6.conf.all.forwarding = "{{ allforwarding }}"
net.ipv4.tcp_slow_start_after_idle = 0
net.ipv4.tcp_keepalive_time = 60
net.ipv4.tcp_max_tw_buckets = 2000000
net.ipv4.tcp_fin_timeout = 10
net.ipv4.tcp_tw_reuse = 1
net.ipv4.tcp_keepalive_intvl = 15
net.ipv4.tcp_keepalive_probes = 5